.widgets {
  .refreshBtn {
    margin-left: 20px;
  }
  .Form {
    width: 20%;
  }
  .formInput {
    width: 5%;
    //border-radius: 3px;
    //border: 20px;
  }
  .sprocketsCol {
    width: 10%;
    text-align: right;
    input {
      text-align: right;
    }
  }
  .ownerCol {
    width: 20px;
  }
  .buttonCol {
    //width: 10%;
    //height: 16px;
    //font-size: 40px;
    :global(.btn) {
      margin: 0 5px;
    }
  }
  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }
}

.widgets {
  .refreshBtn {
    margin-left: 20px;
  }
  .idCol {
    width: 5%;
  }
  .colorCol {
    width: 20%;
  }
  .sprocketsCol {
    width: 20%;
    text-align: right;
    input {
      text-align: right;
    }
  }
  .ownerCol {
    width: 30%;
  }
  .buttonCol {
    width: 25%;
    :global(.btn) {
      margin: 0 5px;
    }
  }
  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }
}
