.loginPage {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    float: left; clear: left;
    margin-top: 10px;
  }
  button {
    float: left; clear: left;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      margin-top: 10px;
    }
  }
}

