.orders {
  .refreshBtn {
    margin-left: 20px;
  }
  .idOrdersCol {
    width: 5%;
  }
  .userCol {
    width: 20%;
  }
  .productsCol {
    width: 20%;
    text-align: left;
    input {
      text-align: left;
    }
  }
  .sendCol {
    width: 30%;
  }
  .rejectCol {
    width: 25%;
    :global(.btn) {
      margin: 0 5px;
    }
  }
  tr.saving {
    opacity: 0.8;
    :global(.btn) {
      &[disabled] {
        opacity: 1;
      }
    }
  }
}
