.orders {
  .refreshBtn {
    margin-left: 20px;
  }
  .idOrdersCol {
    width: 3%;
  }
  .userColMain {
    width: 30%;
    text-align: center;
    .userCol {
      text-align: left;
    }
  }
  .productsColMain {
    width: 60%;
    text-align: center;

    .productsCol {
      text-align: left;

      .productNumber {
        float: left;
      }
      .productName {
        display: inline-block;
      }
    }
  }
  .sendCol {
    width: 6%;
  }
  .rejectCol {
    width: 6%;
  }
}
