.name {
  width: 30%;
  margin-right: 7px;
}
.price {
  width: 6%;
  margin-right: 7px;

}
.number {
  width: 6%;
  margin-right: 10px;
}

.logo {
  height: 90px;
  width: 90px;
  margin-right: 10px;
  img {
    width: 100%;
  }
}

.description {
  width: 12%;
  margin-right: 7px;
}

.property {
  width: 20%;
}