.users {
  .Table {
    border:1px solid black;
  }
  .RefreshBtn {
    margin-left: 20px;
  }
  .IdUser {
    vertical-align: middle;
    width: 5%;
  }
  .NameColMain {
    width: 10%;
    text-align: center;
    .Name {
      text-align: left;
    }
  }
  .MailMain {
    width: 11%;
    text-align: center;
    .Mail {
      text-align: left;
    }
  }
  .NumberMain {
    width: 11%;
    text-align: center;
    .Number {
      text-align: left;
    }
  }
  .AddressMain {
    width: 17%;
    text-align: center;
    .Address {
      text-align: left;
    }
  }
  .CardsMain {
    width: 15%;
    text-align: center;
    .Cards {
      text-align: left;
    }
  }
  .AdminMain {
    width: 7%;
    text-align: center;
    .Admin {
      text-align: left;
    }
  }
  .Edit {
    vertical-align: middle;
    width: 10%;
  }
  .Add {
    vertical-align: middle;
    float: right;
    width: 10%;
  }
  .Delete {
    vertical-align: middle;
    width: 10%;
  }
}
