//.categories {
//  .refreshBtn {
//    margin-left: 20px;
//  }
//  .idCol {
//    width: 5%;
//  }
//  .colorCol {
//    width: 10%;
//  }
//  .sprocketsCol {
//    width: 20%;
//    text-align: right;
//    input {
//      text-align: right;
//    }
//  }
//  .ownerCol {
//    width: 30%;
//  }
//  .buttonCol {
//    width: 25%;
//    :global(.btn) {
//      margin: 0 5px;
//    }
//  }
//  tr.saving {
//    opacity: 0.8;
//    :global(.btn) {
//      &[disabled] {
//        opacity: 1;
//      }
//    }
//  }
//}

.mybutton {
  display: inline-block;
}

;

.mycell {
  display: table-cell;
  listStyle: none;
  //backgroundColor: '#fcfcfc',
  margin: 0;
  padding: 0;
  color: #000000;
  fontFamily: lucida grande, tahoma, verdana, arial, sans-serif;
  fontSize: 17px;
}

.Categories {
  component {
    width: 50%;
    display: inline-block;
    verticalAlign: top;
    padding: 20px;
    @media (max-width: 640px) {
      width: 100%;
      display: block
    }
  }
  searchBox {
    padding: 20px 20px 0 20px
  }
  viewer {
    base {
      fontSize: 12px;
      whiteSpace: pre-wrap;
      backgroundColor: #282C34;
      border: solid 1px black;
      padding: 20px;
      color: #9DA5AB;
      minHeight: 250px
    }
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.component {
  width: 25%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  @media (max-width: 640px) {
    width: 100%;
    display: inline-block;
  }
}

.component2 {
  width: 75%;
  float: right;
  display: inline-block;
  // verticalAlign: 'top',
  padding: 20px;
  // '@media (max-width: 640px)': {
  //   width: '100%',
  //   display: 'inline-block'
  // }
}

.component3 {
  width: 100%;
  // float: 'right',
  display: inline-block;
  // verticalAlign: 'top',
  padding: 20px;
  // '@media (max-width: 640px)': {
  //   width: '100%',
  //   display: 'inline-block'
  // }
}

.searchBox {
  padding: 20px 20px 0 20px;
}

.viewer {
  .base {
    font-size: 12px;
    white-space: pre-wrap;
    background-color: #fcfcfc;
    border: solid 1px black;
    padding: 20px;
    color: #000000;
    min-height: 250px;
  }
}

.nameCol {
  // width: '5%',
  display: inline-block;
  // verticalAlign: 'top',
  // padding: '20px',
  // '@media (max-width: 640px)': {
  //   width: '100%',
  //   display: 'inline-block'
  // }
}

.typeCol {
  width: 20%;
  display: inline-block;
  // verticalAlign: 'top',
  // padding: '20px',
  // '@media (max-width: 640px)': {
  //   width: '100%',
  //   display: 'inline-block'
  // }
}

.refreshBtn {
  margin-left: 20px;
}

.nameCol {
  width: 40%;
}

.nameColProd {
  width: 12%;
}


.typeCol {
  width: 30%;
}

.descriptionCol {
  width: 20%;
  text-align: right;
  input {
    text-align: right;
  }
}

.ownerCol {
  width: 30%;
}

.buttonCol {
  width: 25%;
  :global(.btn) {
    margin: 0 5px;
  }
}

tr.saving {
  opacity: 0.8;
  :global(.btn) {
    &[disabled] {
      opacity: 1;
    }
  }
}

